<%- include('./partials/header', {title:'About Us|ELearning'}); %>
<%- include('./partials/navbar', {pagename:'about', currentuser:currentuser}); %>

    <div class="container">

        <div class="jumbotron">
            <h1>Learn Anything!</h1>
            <p>A perfect place for students and teachers!! Make courses for free and be an instructor or just learn as
                you want.</p>
        </div>
    </div>	    

<%- include('./partials/footer'); %>