<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" media="screen" href="/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/bootstrap-social/bootstrap-social.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/styles.css">
    <title>ELearning</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">

            <a class="navbar-brand mr-auto" href="/index">ELearning</a>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-height"> </h2>
            </div>
            <div class="col-12">
                <h2 class="text-height text-secondary">Contact Us</h2>
                <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12">
                <h4>Contact Information</h4>
            </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                <i class="fa fa-phone"></i>: +880 1608 537383<br>
                <i class="fa fa-envelope"></i>:<a href="mailto:dcode180042@gmail.com"> dcode180042@gmail.com</a>
            </div>
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+8801608537383"><i
                            class="fa fa-phone"></i>Call</a>
                    <a role="button" class="btn btn-success" href="mailto:dcode180042@gmail.com"><i
                            class="fa fa-envelope-o"></i>Email</a>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12">
                <h4 class="text-secondary text-height">Send us your Feedback</h4>
            </div>
            <div class="col-12 col-md-9">
                <form>
                    <div class="form-group row">
                        <label for="fname" class="col-md-2 col-form-label">
                            First Name
                        </label>
                        <div class="col-md-10">
                            <input type="text" name="fname" id="fname" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-md-2 col-form-label">
                            Last Name
                        </label>
                        <div class="col-md-10">
                            <input type="text" name="lname" id="fname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telno" class="col-12 col-md-2 col-form-label">
                            Contact No.
                        </label>
                        <div class="col-5 col-md-3">
                            <input type="tel" name="countrycode" id="countrycode" class="form-control"
                                placeholder="Country Code">
                        </div>
                        <div class="col-7 col-md-7">
                            <input type="tel" name="phoneno" id="phoneno" class="form-control"
                                placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-2 col-form-label">
                            Email
                        </label>
                        <div class="col-md-10">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-md-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="approve" id="approve" value="">
                                <label class="form-check-label" for="approve">
                                    <strong>May we contact you?</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <select class="form-control">
                                <option>Email</option>
                                <option>Telephone</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Feedback" class="col-md-2 col-form-label">Your feedback</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="Feedback" name="Feedback" , rows="12"
                                placeholder="Write your feedback here"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10">
                            <button type="submit" class="btn btn-primary">
                                Send Feedback
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">            
            <div class="row justify-content-center">  
                <div class="col-auto">
                    <p>© Copyright 2020 Dead-Code-18</p>
                </div>
            </div>
    </footer>

    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>