<%- include('./partials/header', {title:'About Us|ELearning'}); %>
<%- include('./partials/navbar', {pagename:'index', currentuser:currentuser}); %>

    <div class="container">

        <div class="jumbotron">
            <h1>Learn Anything!</h1>
            <p>A perfect place for students and teachers!! Make courses for free and be an instructor or just learn as
                you want.</p>

            <form class="form-inline d-flex md-form form-sm w-100">
                <input class="form-control w-75" type="text" placeholder="find your course" aria-label="Search">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
                    search</button>

            </form>

        </div>

        <div class="row row-content">
        </div>
        <div class="row row-content">
        </div>
        <div class="row row-content">
        </div>
        <div class="row row-content">
        </div>
        <div class="row row-content">
        </div>
        <div class="row row-content">
        </div>
    </div>

<%- include('./partials/footer'); %>