<%- include('./partials/header', {title:'About Us|ELearning'}); %>
<%- include('./partials/navbar', {pagename:'index', currentuser:currentuser}); %>

     

<div class="row">   
    <div class="tiledBackground col-12 info-form">
        <div class="row-content"></div>
        <div class="row-content"></div>
        <div class="text-height"></div>
        <div class="copyright"></div>
        
        <form action="" class="form-inline ">
            <div class="col-12 form-group justify-content-center">
               <h2 class="colorY text-center">Learn Anything!</h2>  
            </div>
            <div class="col-12 form-group justify-content-center">
               <p class="colorY text-center">A perfect place for students and teachers!! Make courses for free and be an instructor or just learn as you want.</p>  
            </div>
            <div class="col-12 form-group justify-content-center">
                <input type="text" class="input-box borderNone form-control" placeholder="Find your course here">
                 <button type="submit" class="colorY borderNone btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>search</button>  
            </div>
        </form>
    </div>
</div>

<%- include('./partials/footer'); %>