<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/styles.css">

    <title>Log In|ELearing</title>
</head>
<body>

	<nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">
            <a class="navbar-brand mr-auto" href="/index">ELearning</a>
        </div>
    </nav>

    <div class="container">
    	<div class="row-content">
    		<div class="col-12">
    			Don't have an account? <a href="/signup">Sign Up</a>
    		</div>
    	</div>

        <div class="row row-content">
            <div class="col-10 col-md-8 col-lg-6">
                <form class="form-example" action="" method="post"> 
                    <h3 class="text-secondary text-height">Log In</h1>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control username" id="email" placeholder="Email" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control password" id="password" placeholder="Password" name="password" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-customized">Log In</button>
                    </div>
                </form>
            </div>
        </div> 

        <div class="row-content">   
        </div>
    </div>

    <footer class="footer">
        <div class="container">            
            <div class="row justify-content-center">  
                <div class="col-auto">
                    <p>© Copyright 2020 Dead-Code-18</p>
                </div>
            </div>
    </footer>

	<script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    
</body>
</html>