<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>E-Learning</title>


    <!-- Bootstrap CSS -->


    <link type="text/css" rel="stylesheet" media="screen" href="/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/bootstrap-social/bootstrap-social.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/styles.css">




</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <a class="navbar-brand mr-auto" href="/">ELearning</a>
        </div>
    </nav>

    <div class="container">
        <div class="row row-content">
            <a href="/login">
                <h4>Log In</h4>
            </a>
        </div>
    
        <div class="row row-content">
            <a href="/signup">
                <h4>Sign Up</h4>
            </a>
        </div>

        <div class="row row-content">
            <a href="/logout">
                <h4>Log Out?</h4>
            </a>
        </div>

        <div class="row row-content">
            <a href="/secret">
                <h4>secret page</h4>
            </a>
        </div>
    </div>
    


    <footer class="footer">
        <div class="row justify-content-center">
            <div class="col-auto">
                <p>© Copyright 2020 Dead-Code-18</p>
            </div>
        </div>
    </footer>


    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>


</body>

</html>