<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" media="screen" href="/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/bootstrap-social/bootstrap-social.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/styles.css">

    <title>Sign Up|ELearing</title>
</head>
<body>

	<nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <div class="container">
            <a class="navbar-brand mr-auto" href="/index">ELearning</a>
        </div>
    </nav>

    <div class="container">
    	<div class="row-content">
    		<div class="col-12">
    			Already have an account? <a href="/login">Log In</a>
    		</div>
    	</div>

        <div class="row row-content">
            <div class="col-10 col-md-8 col-lg-6">
                <form class="form-example" action="" method="post"> 
                    <h3 class="text-secondary text-height">Sign Up</h1>
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" placeholder="user name" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" pattern=".{5,50}" required title="Password must be between 5 and 50 charactrers">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="approve" id="approve" value="" required>
                            <label class="form-check-label" for="approve">
                                By signing up, you agree to our Terms of Use and Privacy Policy.
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-customized">Sign Up</button>
                    </div>
                </form>
            </div>
        </div> 

        <div class="row-content">   
        </div>
    </div>

    <footer class="footer">
        <div class="container">            
            <div class="row justify-content-center">  
                <div class="col-auto">
                    <p>© Copyright 2020 Dead-Code-18</p>
                </div>
            </div>
    </footer>

	<script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    
</body>
</html>