<%- include('./partials/header', {title:'Courses|ELearning'}); %>
<%- include('./partials/navbar', {pagename:'courses'}); %>
<h1>only authenticated users can access this page!!</h1>
<%- include('./partials/footer'); %>